*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.displayCards{
    width: 30%;
}

.cardBody {
    height: 40rem;
    padding: 1rem 0.2rem;
    background-color:beige;
    /* width: 20%; */
    box-shadow: 5px 2px 5px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 5px 2px 5px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 2px 5px 3px rgba(0,0,0,0.25);
}

.cardBody img{
    height: 25em;
    width: 100%;
}

.more_button{
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    font-family: Arial;
    color: #ffffff;
    font-size: 35px;
    background: green;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    right:0;
}
      
.more_button:hover {
background: darkgreen;
text-decoration: none;
}

.authors{
    color: gray;
}
